<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839710367624-asc8f4rv7er1lbadudpbd585n1980de5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839710367624-asc8f4rv7er1lbadudpbd585n1980de5</string>
	<key>API_KEY</key>
	<string>AIzaSyDJlN1qkRm_t4I1FEy5cN1c5gqMP2HiInc</string>
	<key>GCM_SENDER_ID</key>
	<string>839710367624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.edu.ucundinamarca.comprasAulaEspejo</string>
	<key>PROJECT_ID</key>
	<string>aulaespejo2022</string>
	<key>STORAGE_BUCKET</key>
	<string>aulaespejo2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839710367624:ios:1d93ace10e73dc8a90243d</string>
</dict>
</plist>